<!-- <div class="hidden-xs hidden-sm" id="full_footer">
  <div class="footer_social" style="margin:40px 0 16px 0">Connect With Us</div>
  <div class="footer_social" style="margin-bottom:0px">
    <div class="footer_row_social hidden-xs hidden-sm">
      <a href="https://www.facebook.com/letsredesyn" rel="nofollow" target="_blank">
        <div class="footer_social_facebook"></div>
      </a>
      <a href="https://twitter.com/redesyn" rel="nofollow" target="_blank">
        <div class="footer_social_tweeter"></div>
      </a>
      <a href="https://www.instagram.com/re_desyn" rel="nofollow" target="_blank">
        <div class="footer_social_instagram"></div>
      </a>
      <a href="https://plus.google.com/u/0/+SINSsynonymofindianstyle" rel="nofollow" target="_blank">
        <div class="footer_social_g_plus"></div>
      </a>
      <a href="http://redesyn.tumblr.com/" rel="nofollow" target="_blank">
        <div class="footer_social_tumbler"></div>
      </a>
       <a href="http://www.pinterest.com/redesyn/" rel="nofollow" target="_blank">
        <div class="footer_social_pinterest"></div>
      </a>
       <a href="http://www.redesyn.com" rel="nofollow" target="_blank">
        <div class="footer_social_redesyn" id="redesyn"></div>
      </a>
       <h5 class='footer_heading'>
            NEWSLETTER
          </h5>
           <div class='lead col-xs-12'>
             <div class='input-group row'>
             <input class='form-control' id='subscriber_email' placeholder='Enter your email address' type='Email'>
              <span class='input-group-btn'>
                <button class='btn btn-default' id='subscribe' type='button'>
                 <i class='fa fa-arrow-right'></i>
               </button>
               </span>
             </input>
             </div>
           </div>
    </div>
        

  </div>
  <br/>
  <br/>
  <br/>
</div> -->
