#full_footer.hidden-xs.hidden-sm
  .footer_social{:style => "margin:40px 0 16px 0"} Connect With Us
  .footer_social{:style => "margin-bottom:0px"}
    .footer_row_social.hidden-xs.hidden-sm
      %a{:href => "https://play.google.com/store/apps/details?id=com.bewakoof.bewakoof", :target => "_blank", :rel => "nofollow"}
        .footer_social_shopping_app
      %a{:href => "https://www.facebook.com/bewakoofcom", :target => "_blank", :rel => "nofollow"}
        .footer_social_facebook
      %a{:href => "https://twitter.com/bewakoof", :target => "_blank", :rel => "nofollow"}
        .footer_social_tweeter
      %a{:href => "http://instagram.com/bewakoofofficial", :target => "_blank", :rel => "nofollow"}
        .footer_social_instagram
      %a{:href => "https://plus.google.com/+Bewakoof/about", :target => "_blank", :rel => "nofollow"}
        .footer_social_g_plus
      %a{:href => "http://www.pinterest.com/bewakoof/", :target => "_blank", :rel => "nofollow"}
        .footer_social_pinterest
      %a{:href => "http://unplugged.bewakoof.com/", :target => "_blank", :rel => "nofollow"}
        .footer_social_bewakoof
  %br/
  %br/
  %br/
  #footer_row_2
    .footer_row_2_colm_1
      %div
        %h3 In Store
        %ul.row2_colm1_first_ul{:style => "width:120px"}
          %li.row2_colm1_first_ul_li
            %a{:href => "http://www.bewakoof.com/category/printed-t-shirts-for-men"} Men
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/category/women-tshirts"} Women
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/mobile-covers-india"} Mobile Covers
      %div
        %h3 Customer Service
        %ul.row2_colm1_first_ul{:style => "width:170px"}
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/contact-us"} Contact Us
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/faq"} Return Policy
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/faq"} Shipping  Track
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/faq"} FAQ
      %div
        %h3 Company
        %ul.row2_colm1_first_ul{:style => "width:130px"}
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/career"} Careers
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/about-us"} About Us
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/terms-and-conditions"} Terms and Conditions
          %li.row2_colm1_sec_ul_li
            %a{:href => "http://www.bewakoof.com/privacy-policy-and-disclaimer"} Privacy Policy
#m_full_footer.hidden-lg.hidden-md  
  .m_footer
    .m_footer_main
      .m_footer_r1 CONNECT WITH US
      .m_footer_r2
        %ul
          %li
            %a{:href => "https://www.facebook.com/bewakoofcom", :rel => "nofollow"}
              %div{:style => "background:url('http://files.bewakoof.com/lib/default/images/sprite/mobile_sprite.png') -3px -147px no-repeat"}
          %li
            %a{:href => "https://twitter.com/bewakoof", :rel => "nofollow"}
              %div{:style => "background:url('http://files.bewakoof.com/lib/default/images/sprite/mobile_sprite.png') -4px -102px no-repeat"}
          %li
            %a{:href => "http://instagram.com/bewakoofofficial", :rel => "nofollow"}
              %div{:style => "background:url('http://files.bewakoof.com/lib/default/images/sprite/mobile_sprite.png') -101px -59px no-repeat"}
          %li
            %a{:href => "https://plus.google.com/+Bewakoof/about", :rel => "nofollow"}
              %div{:style => "background:url('http://files.bewakoof.com/lib/default/images/sprite/mobile_sprite.png') -52px -104px no-repeat"}
          %li
            %a{:href => "http://www.pinterest.com/bewakoof/", :rel => "nofollow"}
              %div{:style => "background:url('http://files.bewakoof.com/lib/default/images/sprite/mobile_sprite.png') -53px -59px no-repeat"}
          %li
            %a{:href => "https://play.google.com/store/apps/details?id=com.bewakoof.bewakoof", :rel => "nofollow"}
              %div{:style => "background:url('http://files.bewakoof.com/lib/default/images/sprite/mobile_sprite.png') -6px -58px no-repeat"}
      .m_footer_bottom
        %ul
          %li
            %a{:href => "http://www.bewakoof.com/contact-us"} Contact Us
          %li
            %a{:href => "http://www.bewakoof.com/faq"} Return Policy
          %li
            %a{:href => "http://www.bewakoof.com/about-us"} About Us
          %li
            %a{:href => "http://www.bewakoof.com/career"} Careers