<div class="hidden-xs hidden-sm" id="full_footer">
  <div class="footer_social" style="margin:40px 0 16px 0">Connect With Us</div>
  <div class="footer_social" style="margin-bottom:0px">
    <div class="footer_row_social hidden-xs hidden-sm">
      <a href="https://www.facebook.com/letsredesyn" rel="nofollow" target="_blank">
        <div class="footer_social_facebook"></div>
      </a>
      <a href="https://twitter.com/redesyn" rel="nofollow" target="_blank">
        <div class="footer_social_tweeter"></div>
      </a>
      <a href="https://www.instagram.com/re_desyn" rel="nofollow" target="_blank">
        <div class="footer_social_instagram"></div>
      </a>
      <a href="https://plus.google.com/u/0/+SINSsynonymofindianstyle" rel="nofollow" target="_blank">
        <div class="footer_social_g_plus"></div>
      </a>
      <a href="http://redesyn.tumblr.com/" rel="nofollow" target="_blank">
        <div class="footer_social_tumbler"></div>
      </a>
       <a href="http://www.pinterest.com/redesyn/" rel="nofollow" target="_blank">
        <div class="footer_social_pinterest"></div>
      </a>
       <a href="http://www.redesyn.com" rel="nofollow" target="_blank">
        <div class="footer_social_redesyn" id="redesyn"></div>
      </a>
       <h5 class='footer_heading'>
            NEWSLETTER
          </h5>
           <div class='lead col-xs-12'>
             <div class='input-group row'>
             <input class='form-control' id='subscriber_email' placeholder='Enter your email address' type='Email'>
              <span class='input-group-btn'>
                <button class='btn btn-default' id='subscribe' type='button'>
                 <i class='fa fa-arrow-right'></i>
               </button>
               </span>
             </input>
             </div>
           </div>
    </div>
        

  </div>
  <br/>
  <br/>
  <br/>
   <div id='footer_row_2'>
    <div class='footer_row_2_colm_1'>
      <div>
        <h3>Men</h3>
        <ul class='row2_colm1_first_ul' style='width:140px'>
          <li class='row2_colm1_first_ul_li'>
            <a href='https://www.redesyn.com/shapes/mens_semi_formal_blazer'>Men's Blazers</a>
          </li>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/mens_casual_bomber_jacket'>Men's Bombers</a>
          </li>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/thin_vest'>Vests</a>
                      <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/basic_round_neck_t_shirt'>Mens's T-Shirts</a>
                      <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/basic_shirt'>Men's Shirts</a>
                      <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/full_sleeves_henley'>Henleys</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Women</h3>
        <ul class='row2_colm1_first_ul' style='width:140px'>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/womens_casual_bomber_jacket'>Women's Bombers</a>
          </li>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/womens_semi_formal_jacket'>Women's Blazers</a>
          </li>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/summer_dress'>Kurta</a>
          </li>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/leggings'>Leggings</a>
          </li>
           <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/tee'>Women's T-Shirts</a>
          </li>
           <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/tank'>Tank Top</a>
          </li>
           
        </ul>
        <ul class= 'row2_colm1_first_ul' style='width:140px'>
       
           <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/t-shirt_dress'>T-Shirt Dress</a>
          </li>
           <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/bodycon_dress'>Bodycon Dress</a>
          </li>
           <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/summer_set'>Summer Set</a>
          </li>
           <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/shapes/hoodie'>Hoodie</a>
          </li>
          </ul>
      </div>
      <div>
        <h3>Company</h3>
        <ul class='row2_colm1_first_ul' style='width:140px'>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/about_us'>About Us</a>
          </li>
          <li class='row2_colm1_sec_ul_li'>
            <a href='https://www.redesyn.com/contact_us'>Contact Us</a>
          </li>
        <!--  <li class='row2_colm1_sec_ul_li'>
            <a href='http://www.bewakoof.com/terms-and-conditions'>Terms and Conditions</a>
          </li>
          <li class='row2_colm1_sec_ul_li'>
            <a href='http://www.bewakoof.com/privacy-policy-and-disclaimer'>Privacy Policy</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="hidden-lg hidden-md" id="m_full_footer">
  <div class="m_footer">
    <div class="m_footer_main">
      <div class="m_footer_r1">CONNECT WITH US</div>
      <div class="m_footer_r2">
        <ul>
          <li>
            <a href="https://www.facebook.com/letsredesyn" rel="nofollow">
              <div style="background:url(/icons/fb.png) -30px -30px no-repeat"></div>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/redesyn" rel="nofollow">
              <div style="background:url(/icons/twitter.png) -30px -30px no-repeat"></div>
            </a>
          </li>
          <li>
            <a href="http://www.instagram.com/re_desyn" rel="nofollow">
              <div style="background:url(/icons/insta.png) -30px -30px no-repeat"></div>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/+SINSsynonymofindianstyle" rel="nofollow">
              <div style="background:url(/icons/g+.png) -30px -30px no-repeat"></div>
            </a>
          </li>
          <li>
            <a href="http://www.pinterest.com/redesyn/" rel="nofollow">
              <div style="background:url(/icons/P.png) -0px 5px no-repeat"></div>
            </a>
          <li>
             <a href="http://www.redesyn.com" rel="nofollow">
              <div style="background:url(/icons/Re.png) -0px 5px no-repeat"></div>
            </a>
          </li>
        </ul>
      </div>
      <div class="m_footer_bottom">
        <ul>
         <li>
            <a href="https://www.redesyn.com/men-apparel">Men</a>
          </li>
           <li>
            <a href="https://www.redesyn.com/women-apparel">Women</a>
          </li>
           <li>
            <a href="http://www.redesyn.com/about_us">About Us</a>
          </li>
          <li>
            <a href="http://www.redesyn.com/contact_us">Contact Us</a>
          </li>
        <!--  <li>
            <a href="http://www.bewakoof.com/faq">Return Policy</a>
          </li>
         
          <li>
            <a href="http://www.bewakoof.com/career">Careers</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
