<div class="row">
  <div class="row">
    <div class="col-sm-12 text-center headText">
      <a href="<%= root_path %>">
        <!-- REDESYN THEORY -->
      </a>
    </div>
  </div>
  <div class="row headerLine">
    <!-- <hr align="center"/> -->
  </div>
</div>
